.navbar-nav > li{
    padding-left:7px;
    padding-right:7px;
    letter-spacing: 1px;
}
.first-section {
    background-position-x: center;
    overflow: hidden;
    height: 100vh;
    vertical-align: middle;
    background-size: cover;
}